/* Start Skills */

.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

.our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

/* End Skills */

/* Start Media Skills */

.our-skills img {
    @include breakpoints(small) {
        display: none;
    }
}


.our-skills img {
    @include breakpoints(mobile) {
        display: none;
    }
}

/* End Media Skills */
