/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    background-image: url(/imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background var(--main-transition) linear infinite;
}

@keyframes change-background {
    0%, 100% {
        background-image: url(/imgs/discount-background1.jpg);
    }
    50% {
        background-image: url(/imgs/discount-background2.jpg);
    }
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    margin-bottom: 50px;
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
    transition: var(--main-transition);
}

.discount .form .input::placeholder {
    transition: opacity var(--main-transition);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
} 

.discount .form .input:focus::placeholder {
    opacity: 0;
}

.discount .form .input:focus {
    outline: none;
}


.discount .form .send {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: var(--main-transition);
}

.discount .form .send:hover {
    background-color: var(--main-color-alt);
} 

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

/* End Discount */
/* Start Media Discount */

.discount .image {
    @include breakpoints(small) {
        flex-basis: 100%;
    }
}

.discount .form {
    @include breakpoints(small) {
        flex-basis: 100%;
    }
}


.discount .image {
    @include breakpoints(mobile) {
        flex-basis: 100%;
    }
}

.discount .form {
    @include breakpoints(mobile) {
        flex-basis: 100%;
    }
}

/* End Media Discount */
